<ion-view >
  <ion-view title="Title" >
    <ion-content class="color-1" has-bouncing="false">
      <img id="image-logo" src="img/map.svg"  class="background-tutorial" >


      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide class="slider-box">
          <i class="fa fa-bolt icon-intro" aria-hidden="true"></i>
          <h4 class="title-slider" >
            {{translations.SLIDER_1}}
          </h4>



        </ion-slide>
        <ion-slide class="slider-box">
          <i class="fa fa-lightbulb-o icon-intro" aria-hidden="true"></i>
          <h4 class="title-slider">
            {{translations.SLIDER_2}}
          </h4>
        </ion-slide>


        <ion-slide class="slider-box">
          <i class="fa fa-globe icon-intro" aria-hidden="true"></i>
          <h4 class="title-slider">
            {{translations.SLIDER_3}}
          </h4>
          <button type="button" class="button-init" name="button" ng-click="goToLogin();">
            {{translations.SLIDER_BUTTON}}
          </button>
        </ion-slide>


      </ion-slide-box>
    </ion-content>
  </ion-view>


  <style media="screen">
  .slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0 3px;
    width: 15px;
    color: #fff;
    text-decoration: none;
    opacity: 0.3;
  }
  </style>
