<ion-view>
  <ion-header-bar align-title="center" class="bar-positive" ng-class="design.header">

    <h5 ng-click="back()" style="margin-left:10px;;width: 30px;"><i class="ion-chevron-left" style="z-index:999;" ></i></h5>
    <h1 class="title">{{project_name}}</h1>
  </ion-header-bar>


  <ion-content style="overflow:scroll">

    <ion-refresher  on-refresh="doRefreshMotors()">
        </ion-refresher>


        <h6 ng-hide="motors.length != 0" style="text-align: center;margin: 30px 50px 0 50px;font-size: 15px;">
          {{translations.MOTOR_CARD_TITLE_EMPTY}}
        </h6>


<!-- <button class="waves-effect waves-light btn factor-send-button button-john" type="button" name="button" ng-click="openModalMotor()">{{motorButtonText}} </button> -->


<div ng-class="design.button" ng-click="openModalMotor();" class="button-traslucid">
  {{motorButtonText}}
</div>

      <ion-list  show-delete="shouldShowDelete" style="margin-bottom:20px;">
    <ion-item ng-repeat="motor in motors | orderBy: 'created_at'" >



<div class="">

      <h2>{{translations.MOTOR_NAME_LIST}} :{{motor.name}}</h2>
      <p>{{translations.AMP_NAME_LIST}}: {{motor.amp}}</p>
      <p>{{translations.HOURS_NAME_LIST}}: {{motor.average_time}}</p>
      <p>{{translations.VOLTS_NAME_LIST}}: {{motor.volts}}</p>
      <p>{{translations.KW_NAME_LIST}}: {{motor.rated_power}}</p>
      <p>{{translations.POWER_FACTOR_NAME_LIST}}: {{motor.efficiency}}</p>
      <p ng-if="user.type_user === undefined">{{translations.QUOTATION_CARD_ELEMENT_CREATED_AT}}: {{motor.created_at | date: 'dd-MM-yyyy'}}</p>
</div>
    </ion-item>
  </ion-list>


</ion-content>

<ion-footer-bar ng-class="design.footer">
  <div class="" style="width: 100%;display: flex;">

    <div class="buttons" style="margin:0 auto;">
      <button class="button tab-not-selected"  ng-click="goToProjects()">
        <i class="fa fa-bookmark"></i>
        {{translations.FOOTER_PROJECT}}
      </button>
    </div>

    <div  style="margin:0 auto;" ng-click="goToDashboard()">
      <img src="./img/logo.png" style="position: relative;width: 65px;bottom: 22px;" alt="">
    </div>

    <div class="buttons" style="margin:0 auto;">
      <button class="button tab-not-selected"  ng-click="goToQuotes()">
        <i class="fa fa-money"></i>
        {{translations.FOOTER_QUOTE}}
      </button>
    </div>

  </div>
</ion-footer-bar>




  <!-- <a ng-click="goToQuotation();" class="btn-floating btn-large waves-effect waves-light red" style="    position: absolute;
  left: 75vw;
  top: 85vh;">
  <i style="font-size:40px;line-height: 60px;" class="ion-ios-plus-empty"></i>
  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>

</a> -->



    <div ng-class="design.buttonSolid" class="button-traslucid" style="left:50%;transform:translate(-50%);position: absolute;bottom:50px;" ng-click="goToQuotation();">
  {{translations.SEND_QUOTATION_BUTTON_BOTTOM}}
    </div>

</ion-view>


<style media="screen">

.list{
  margin-bottom:50px !important;
}

.overflow-scroll{
  overflow-x:hidden !important;
 overflow-y: visible !important;
}

.scroll-content{
  overflow:visible !important;
}
</style>
