<ion-view >
  <ion-view>
    <ion-content has-bouncing="false">


      <!-- <img class="logo-welcome animated fadeIn" src="img/logo_white.png" alt=""> -->


<div class="" style="position:absolute;top:22vh;left:50%">
  <div class="world">
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
  </div>
  <div class="clouds">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>
</div>


      <div class="" style="text-align:center;top:40vh;position:relative;">

<h5>Bienvenido a EnergiaStore</h5>
<h6>Welcome to EnergiaStore</h6>

<div class="" style="display:inline-box;margin-top:30px;">

  <!-- <a class="waves-effect waves-light circle-button" style="margin:0 auto;" ng-click="chooseLanguage('es')">Español</a>
  <a class="waves-effect waves-light circle-button" style="margin:0 auto;" ng-click="chooseLanguage('en')">English</a> -->

  <img src="img/language/spain.png" style="height:70px;" alt="" ng-click="chooseLanguage('es')">
  <img src="img/language/uk.png" style="height:70px;" alt="" ng-click="chooseLanguage('en')">

</div>


      </div>


    </ion-content>
  </ion-view>

  <style media="screen">
  body {
background: #132028;
}

.world {
width: 150px;
height: 150px;
border-radius: 150px;
background: #7BAECB;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
overflow: hidden;
}

.land {
position: absolute;
height: 20px;
background: #99CC99;
border-radius: 150px;
}

.clouds {
width: 170px;
height: 170px;
border-radius: 200px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
overflow: hidden;
}

.cloud {
width: 20px;
height: 10px;
background: white;
border-radius: 20px;
}

.circle-button{
display:block;
 height: 70px;
 width: 70px;
 border-radius: 50%;
 border: 1px solid transparent;
 background-color: red;
 }

  </style>
