<ion-view id="project-view">
  <ion-header-bar align-title="center" ng-class="design.header">
    <h5 ng-click="back()">
      <i class="ion-chevron-left"></i>
    </h5>
    <h1 class="title">{{translations.QUOTATION_HEADER}}</h1>
  </ion-header-bar>

  <ion-content id="content-id">
    <ion-refresher  on-refresh="doRefreshQuotation()">
    </ion-refresher>


    <h6 ng-hide="calculations.length != 0" >
      {{translations.QUOTATION_CARD_TITLE}} <strong >{{translations.QUOTATION_CARD_TITLE_STRONG}}...</strong>
    </h6>

    <!-- <button  class="waves-effect waves-light btn factor-send-button button-john" type="button" name="button" ng-click="()()">{{translations.}} </button> -->


    <div ng-class="design.button" ng-click="addQuotationPopUp();" class="button-traslucid">
      {{translations.BUTTON_ADD_PROJECT}}
    </div>


    <ion-list  show-delete="shouldShowDelete"  can-swipe="listCanSwipe">
      <ion-item ng-repeat="calculation in calculations"  class="item" ng-click="goToCalculation(calculation)" ng-if="calculation.energy_cost != null" ng-class="{'last-project':$last}">

        <div class="item-container">
          <i ng-if="calculation.estimated_cost != null" class="fa fa-circle item-content-dot success" aria-hidden="true"></i>
          <i ng-if="calculation.estimated_cost == null"class="fa fa-circle item-content-dot warning" aria-hidden="true"></i>
        </div>

        <div class="">



          <h2>{{calculation.name}}</h2>
          <p>{{calculation.energy_cost | number : fractionSize}} USD</p>
          <p>{{translations.QUOTATION_CARD_ELEMENT_CREATED_AT}}: {{calculation.created_at | date: 'dd-MM-yyyy'}}</p>

          <ion-option-button ng-if="calculation.estimated_cost != null" class="button-positive" ng-click="duplicateProject(calculation)">
            {{translations.DUPLICATE_OPTION}}
          </ion-option-button>
          <!-- <ion-option-button class="button-danger" ng-click="delete(calculation.id)">
            Eliminar
          </ion-option-button> -->

        </div>

      </ion-item>
    </ion-list>



  </ion-content>
  <footbar></footbar>
</ion-view>
