#project-view{
  .bar-header{
    h5{
      width: 44px;
      top: 0px;
      position: absolute;
      text-align: center;
      i{
        z-index:999
      }
    }
  }

  #content-id{
    h6{
      text-align: center;
      margin: 30px;
      font-size: 20px;
      strong{
        font-weight:600
      }
    }

    .item-content{
      display:-webkit-flex;
      width:100%;

      &.item{
        width:100%;
        height:100px;
        display: -webkit-box;
      }

      .item-container{
        width:50px;
        position:relative;

        .item-content-dot{

          margin: auto;
          display: block;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);

          &.warning{
            color:#e3e641 !important
          }
          &.success{
            color:#31c75f !important;

          }

        }


      }
    }
  }
}
