<ion-view id="project-view" ng-init="init()">
  <div class="bar bar-header header-energiaStore">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="back();"></button>
    <div class="h1 title">{{project.QUOTATION_HEADER}}</div>
  </div>
  <div class="item item-input-inset header-energiaStore has-header">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Buscar">
    </label>
  </div>
  <ion-content id="content-id" class="has-subheader">



    <ion-refresher on-refresh="doRefreshQuotation()">
    </ion-refresher>


    <h6 ng-hide="calculations.length != 0">
      {{project.QUOTATION_CARD_TITLE}}
      <strong>{{project.QUOTATION_CARD_TITLE_STRONG}}...</strong>
    </h6>

    <!-- <button  class="waves-effect waves-light btn factor-send-button button-john" type="button" name="button" ng-click="()()">{{translations.}} </button> -->


    <div ng-class="design.button" ng-click="openModal();" class="button-traslucid">
      {{project.BUTTON_ADD_PROJECT}}
    </div>


    <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
      <ion-item ng-repeat="calculation in calculations" class="item" ng-click="goToCalculation(calculation)" ng-if="calculation.energy_cost != null"
        ng-class="{'last-project':$last}">

        <div class="item-container">
          <i ng-if="calculation.estimated_cost != null" class="fa fa-circle item-content-dot success" aria-hidden="true"></i>
          <i ng-if="calculation.estimated_cost == null" class="fa fa-circle item-content-dot warning" aria-hidden="true"></i>
        </div>

        <div class="">



          <h2>{{calculation.name}}</h2>
          <!-- <p>{{calculation.energy_cost | number : fractionSize}} {{currency}}</p> -->
          <p>{{project.QUOTATION_CARD_ELEMENT_CREATED_AT}}: {{calculation.created_at | date: 'dd-MM-yyyy'}}</p>

          <ion-option-button ng-if="calculation.estimated_cost != null" class="button-positive" ng-click="duplicateProject(calculation)">
            {{project.DUPLICATE_OPTION}}
          </ion-option-button>
          <!-- <ion-option-button class="button-danger" ng-click="delete(calculation.id)">
            Eliminar
          </ion-option-button> -->

        </div>

      </ion-item>
    </ion-list>
  </ion-content>
  <foot-bar></foot-bar>
</ion-view>