<ion-view id="products-view" ng-init="init();">
  <div class="bar bar-header header-energiaStore">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack();"></button>
    <div class="h1 title">Products</div>
  </div>
  <div class="item item-input-inset header-energiaStore has-header">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Buscar">
    </label>
  </div> 

  <ion-content scrolleable="true" class="has-footer has-header" has-bouncing="false">

    <ion-list>
      <ion-item ng-repeat="product in products" ng-click="viewProduct({{product.id}})">
        {{product.name}}
      </ion-item>

    </ion-list>



  </ion-content>

  <footbar></footbar>
</ion-view>