<ion-view id="products-view" ng-init="init();">
  <div class="bar bar-header header-energiaStore">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack();"></button>
    <div class="h1 title">Products</div>
    <button class="button button-icon icon ion-ios-cart" ng-click="goToCart();"></button>
  </div>
  <div class="item item-input-inset header-energiaStore has-header">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Buscar">
    </label>
  </div> 

  <ion-content scrolleable="true" class="has-footer has-subheader" has-bouncing="false">

    <!-- <ion-list> -->
      <div class="list" style="margin-bottom:0px;padding-bottom:0px;" ng-repeat="product in products" ng-click="viewProduct(product)">
        <a class="item item-avatar">
          <img ng-if="product.product_images.length != 0" ng-src="{{product.product_images[0].url}}">
          <img ng-if="product.product_images.length == 0" src="assets/img/no-image.jpg">
          <h2>{{product.title}}</h2>
          <p>{{product.comments}}</p>
        </a>
      </div>

    <!-- </ion-list> -->



  </ion-content>

  <foot-bar></foot-bar>
</ion-view>