<ion-modal-view id="create_project_modals">
    <div class="bar bar-header header-energiaStore">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="closeModalProject();"></button>
        <div class="h1 title">{{project.CREATE_PROJECT_TITLE}}</div>
    </div>

    <ion-content id="content" class="has-header">
 
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="{{project.ADD_QUOTATION_POPUP_FIRST_INPUT}}" ng-model="project_create.name">
            </label>
        </div>

        <p style="text-align: center">{{project.CREATE_PROJECT_SELECT_PROVIDER}}</p>

        

        <ion-list>
        
            <ion-checkbox ng-repeat="provider in providers" ng-click="selectProvider(provider)" ng-model="filter.red">{{provider.name}}</ion-checkbox>
        
        </ion-list>
    </ion-content>

    <ion-footer-bar ng-class="design.header" ng-click="validateProject()">
        <p style="color:white;font-size:16px;margin:auto;">Create</p>
    </ion-footer-bar>
</ion-modal-view>