<ion-view id="categories-view">

  <div class="bar bar-header header-energiaStore">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack();"></button>
    <div class="h1 title">Categorias</div>
  </div>
  <div class="item item-input-inset header-energiaStore has-header">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Buscar">
    </label>
  </div>

  <ion-content scrolleable="true" class="has-footer has-subheader" has-bouncing="false">


    <ion-list>
      <ion-item ng-repeat="category in categories" ng-click="goToProductsByCategory({{category.id}})">
        {{category.title}}
        <p style="white-space:normal">{{category.description}}</p>
      </ion-item>

    </ion-list>



  </ion-content>

  <footbar></footbar>
</ion-view>