<ion-view id="welcome-view" init="init();">

    <div class="bar bar-header header-energiaStore">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack();"></button>
        <div class="h1 title">News</div>
    </div>
    <div class="item item-input-inset header-energiaStore has-header">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Buscar">
        </label>
    </div>
    <ion-content class=" has-subheader">


        <div class="list card" ng-repeat="new in news">
            <div class="item item-body" style="padding:0px;">
                <img class="full-image" src="./assets/img/loading.gif" lazy-img='http://energiastoreapp.com/{{new.news_attachments[0].image.url}}'>
                <div style="padding:10px;">
                    <p style="color:black;font-size:17px;">{{new.title}}</p>
                    <p style="color:grey;">{{new.body}}</p>

                </div>
            </div>

        </div>

        </ion-slide-box>
    </ion-content>
</ion-view>