<ion-view ng-init="init();">
  <ion-header-bar align-title="left" class="">

    <h5 ng-click="goBack()" style="margin-left:10px;;width: 30px;"><i class="ion-chevron-left" style="z-index:999;" ></i></h5>
    <h5>{{translations.TUTORIALS_TITLE}}</h5>

  </ion-header-bar>



<ion-content style="background-color:rgba(175, 175, 175, 0.30);" class="has-header">


  <ion-list>
    <ion-item ng-click="chooseTutorial(1)">
      <span>{{translations.TUTORIALS_PROFILE}}</span> <i style="    right: 25px;
    position: absolute;
" class="ion-chevron-right"></i>
    </ion-item>

    <ion-item ng-click="chooseTutorial(2)">
      <span>{{translations.TUTORIALS_QUOTATIONS}}</span> <i style="    right: 25px;
    position: absolute;
" class="ion-chevron-right"></i>
    </ion-item>

    <ion-item ng-click="chooseTutorial(3)"></span>
      <span>{{translations.TUTORIALS_FACTOR}}</span> <i style="    right: 25px;
    position: absolute;
" class="ion-chevron-right"></i>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>

<style>

h1,h5{
  color:black;
}
</style>
