
<div class="card-image">
  <img src="assets/img/fp.jpg" style="width:100vw">
  <span class="card-title">Card Title</span>
</div>
<div class="card-content">
  <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">


    <p><strong>T8</strong>          Tube Type: T8<br />
      <strong>P  </strong>           Tube Series: Plastic LED T8 Tube<br />
      <strong>1200 </strong>    Tube Length in mm<br />
      <strong>18W </strong>     Power Consumption<br />
      <strong>T </strong>            Cover: Frosted (F), Transparent(T), Stripped(S)<br />
      <strong>R  </strong>          Tube Shape: Round (R); Oval (O)<br />
      <strong>N </strong>           Driver Type:  Non-isolated driver (N), Isolated driver(I)<br />
      <strong>D</strong>            Power Input: Double-end (D), Single-end (S), External driver (E)<br />
      <strong>01</strong>           Input Voltage: AC100-240V (01), AC100-277V (02)<br />
      <strong>PW </strong>       CCT:  Warm white (WW), Pure white (PW), Cold white(CW)</p>


<style media="screen">
  strong{
    color:green;
    margin-right:20px;
  }
  table{
    display:none;
  }
</style>

      <p>&nbsp;</p>
      <table >
        <tbody>
          <tr>
            <td width="50">
              <p style="text-align: center;"><strong>Items No.</strong></p>
            </td>
            <td style="text-align: center;" width="28"><strong>Watts</strong></td>
            <td style="text-align: center;" width="50"><strong>Input Voltages</strong></td>
            <td style="text-align: center;" width="57"><strong>Luminous Flux</strong></td>
            <td style="text-align: center;" width="64"><strong>Color Temperature</strong></td>
            <td style="text-align: center;" width="28"><strong>CRI</strong></td>
            <td style="text-align: center;" width="43"><strong>Beam Angle</strong></td>
            <td style="text-align: center;" width="35"><strong>PF rate</strong></td>
            <td style="text-align: center;" width="43"><strong>Dimension</strong></td>
            <td width="28">
              <p style="text-align: center;"><strong>Base</strong></p>
            </td>
          </tr>
          <tr>
            <td width="50">
              <p style="text-align: center;">T8P-600T18W</p>
            </td>
            <td style="text-align: center;" width="28">18W</td>
            <td style="text-align: center;" width="50">85~135v</p>
              <p>100~240v</p>
              <p>185~240v</td>
                <td style="text-align: center;" width="57">1440~1800lm</td>
                <td style="text-align: center;" width="64">2700~6500k</td>
                <td style="text-align: center;" width="28">&gt;70</p>
                  <p>Or</p>
                  <p>&gt;80</td>
                    <td style="text-align: center;" width="43">330</td>
                    <td style="text-align: center;" width="35">&gt;0.5</p>
                      <p>Or</p>
                      <p>&gt;0.9</td>
                        <td style="text-align: center;" width="43">Ø28&#215;1200</td>
                        <td width="28">
                          <p style="text-align: center;">G13</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
