<ion-footer-bar id="footbar-view" ng-class="isIphoneX == true ? 'iphone-x' : ''; ">
  <div class="footer-container">

    <div class="buttons">
      <button class="button tab-not-selected" ng-click="goToProjects()">
        <i class="fa fa-bookmark"></i>
        {{footbar.PROJECTS}}
      </button>
    </div>

    <div  class="dashboard-button" ng-click="goToDashboard()">
      <img src="assets/img/logo.png" class="dashboard-button-img" alt="">
    </div>

    <div class="buttons">
      <button class="button tab-not-selected"  ng-click="goToQuotes()">
        <i class="fa fa-money"></i>
        {{footbar.QUOTATIONS}}
      </button>
    </div>

  </div>
</ion-footer-bar>