#create_motor-view{
  .bar-header{

    .buttons{
      width: 44px;
      height: 44px;
      top: 0px;
      color:white;
      i{
        margin: auto;
        font-size: 25px;
      }
    }
  }
    #create_motor-content{
      overflow: scroll !important;

      #create_motor-content-div{
        margin-top:30px;
        padding:15px 15px 15px 20px;


        .input-field{
          width:80%;
          display: -webkit-box;

          &.special{
            width:calc(80% - 25px);

            span{
              top: 11px;
              position: relative;
              left: 10px;
            }

            input{
              &.special{
                padding-left: 25px;
                left: -10px;
                position: relative;
              }
            }
          }
        }

        .native-select{
          display:block;
          -webkit-appearance:none;
        }
      }
    }
}
