@import "../../../css/vars.scss";

#introduction-view{
  #introduction-content{


    &.slider-one{
      background-color:$primary-color;
    }

    &.slider-two{
      background-color:$secondary-color;
    }

    &.slider-three{
      background-color:$tertiary-color;
    }
    &.animate-background{
      transition: all 0.6s;

    }

    #image-logo{
      &.background-introduction{
        width: 100%;
        position: absolute;
        transform: translate(0,50%);
      }
    }


    .skip-button{
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      font-size:17px;
      color: rgb(255, 255, 255);
      &.right{
        right: 35px;
      }
      &.top{
        top: 30px;
        z-index:999
      }
      &.iphone-x{
        top:60px !important;
      }
    }


    .slider-slides{
      .slider-box-1{
        .world-container{
          position: absolute;
          width: 170px;
          height: 170px;
          border-radius: 100%;
          transform: translate(-50%,59%);
          left:50%;
          transition: all 2s ease-in;

          .world{
            width: 150px;
            height: 150px;
            border-radius: 150px;
            background: #7BAECB;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            overflow: hidden;

            .land {
              position: absolute;
              height: 20px;
              background: #99CC99;
              border-radius: 150px;
            }


          }
          .clouds {
            width: 170px;
            height: 170px;
            border-radius: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            overflow: hidden;

            .cloud {
              width: 20px;
              height: 10px;
              background: white;
              border-radius: 20px;
            }
          }

          &.world-container-active{
            background: rgb(255, 255, 255);
          }
        }
      }

      .slider-box-2{
        .phone-container{
          position: absolute;
          width: 200px;
          height: 300px;
          margin: AUTO;
          left: 50%;
          transform: translate(-50%);

          img.phone-img{
            width: 90vw;
            position: absolute;
            transform: translate(-50%,0);
            top: 25%;
            left: 50%;
          }


          .notification-div{
            width: 200px;
            height: 50px;
            background-color: transparent;
            top: 140px;
            position: relative;

            &.notification-div-left{
              left: 50vw;
            }

            &.left-active{
              background-color: white !important;
              left: 10vw;
            }

            &.notification-div-right{
              right: 50vw;
              margin-top:20px;
            }

            &.right-active{
              background-color: white !important;
              right: 10vw;

            }
            &.animate-notifications{
              transition: all .7s;
            }
          }
        }
      }
    }


    .bottom-introduction{
      width: 100%;
      bottom: 0;
      position: absolute;
      height: 44px;
      background-color: rgba(126,126,126,.30);
      left: 0;

      &.iphone-x{
        height: 64px;
      }

      span{
        &.bottom-button{
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
          font-size:17px;
          color: rgb(255, 255, 255);

          &.iphone-x{
            top: 40%;
          }

          &.right{
            right: 35px;
          }
          &.left{
            left: 35px;
          }
          &.top{
            top:25px;
            z-index:999
          }
        }
      }
    }
  }

  .slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0 3px;
    width: 15px;
    color: #fff;
    text-decoration: none;
    opacity: 0.3;
  }
}
