#country-modal-view{
  #content-id{

    #image-logo{
      &.background-world{
        width: 100%;
        position: absolute;
        transform: translate(0,50%);
        z-index: 1;
        top:0px;
      }
    }

    .close-button{
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      font-size:17px;
      &.left{
        left: 35px;
      }
      &.top{
        top: 0px;
        z-index:999
      }
      &.iphone-x{
        top:0px !important;
      }
    }


    h5{
      top: 4vh;
      position: relative;
      text-align: center;
      color:black;
    }

    .country-container{
      position: relative;
      z-index:999;
    div{
      z-index:999;
      &.country-opt{
        z-index:999; 
        margin: 40px auto 20px auto;
        img{
          margin: 0 auto;
          display: block;
          z-index:999;
        }
        p{
          text-align:center
        }
      }
    }
  }

  }
}
