<ion-view ng-init="init();">
  
  <div class="bar bar-header">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack();"></button>
      <div class="h1 title">{{tutorials.TUTORIALS_TITLE}}</div>
    </div>



  <ion-content style="background-color:#f6f5f6;" class="has-header">


    <ion-list>
      <ion-item ng-click="chooseTutorial(1)">
        <span>{{tutorials.TUTORIALS_PROFILE}}</span>
        <i style="    right: 25px;
    position: absolute;
" class="ion-chevron-right"></i>
      </ion-item>

      <ion-item ng-click="chooseTutorial(2)">
        <span>{{tutorials.TUTORIALS_QUOTATIONS}}</span>
        <i style="    right: 25px;
    position: absolute;
" class="ion-chevron-right"></i>
      </ion-item>

      <ion-item ng-click="chooseTutorial(3)">
        </span>
        <span>{{tutorials.TUTORIALS_FACTOR}}</span>
        <i style="    right: 25px;
    position: absolute;
" class="ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<style>
  h1,
  h5 {
    color: black;
  }
</style>