#welcome-view {
  #welcome-content {
    &.iphone-x {
      top: 30px !important;
    }
    #image-logo {
      &.background-welcome {
        width: 60%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
    }
    .slider-slides {
      .slider-box-1 {
        h5 {
          top: 20vh;
          position: relative;
          text-align: center;
          color: black;
        }
        h6 {
          top: 22vh;
          position: relative;
          text-align: center;
        }
        .language-container {
          display: flex;
          top: 30vh;
          position: relative;
          div {
            &.country-opt {
              margin: 0 auto;
              p {
                text-align: center
              }
            }
          }
        }
        .country-container {
          position: relative;
          margin-top: 10vh;
          div {
            &.country-opt {
              margin: 0 auto 20px auto;
              img {
                margin: 0 auto;
                display: block;
              }
              p {
                text-align: center
              }
            }
          }
        }
      }
      .slider-box-2 {
        h5 {
          top: 4vh;
          position: relative;
          text-align: center;
          color: black;
        }
        div {
          &.country-opt {
            margin: 40px auto 20px auto;
            img {
              margin: 0 auto;
              display: block;
            }
            p {
              text-align: center
            }
          }
        }
      }
    }
  }
}

#country-align {
  padding: 0px;
  display: -webkit-inline-box;
}