<ion-view id="welcome-view">
  <ion-content id="welcome-content" has-bouncing="false" ng-class="isIphoneX() ? 'iphone-x' : ''">
    <img id="image-logo" src="assets/img/introduction/map.svg"  class="background-welcome" />

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
      <ion-slide class="slider-box-1">

        <h5>Choose your language</h5>

        <h6>Selecciona tu idioma</h6>

        <div class="language-container">

          <div class="country-opt" >
            <img src="assets/img/flag/españa.png" ng-click="chooseLanguage('es')"/>
            <p>Español</p>
          </div>

          <div class="country-opt" >
            <img src="assets/img/flag/reino unido.png" ng-click="chooseLanguage('en')"/>
            <p>English</p>
          </div>

        </div>


      </ion-slide>


      <ion-slide class="slider-box-2">


        <h5>{{translations.CHOOSE_YOUR_COUNTRY}}</h5>


        <div class="country-container" >

          <div class="country-opt" ng-repeat="country in countries">
            <img src="assets/img/flag/{{country.name | lowercase}}.png" alt="" ng-click="chooseCountry({{country}})"/>
            <p>{{country.name | capitalize }}</p>
          </div>


        </div>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
