<ion-view id="finalize-quotation-view">

  <ion-header-bar align-title="center" ng-class="design.header">
    <h5 ng-click="back()">
      <i class="ion-chevron-left"></i>
    </h5>
    <h1 class="title">{{quotation.FINALIZE_QUOTATION_HEADER}}</h1>
  </ion-header-bar>


  <ion-content id="content">

    <div ng-class="os === 'android' ? 'android-content' : 'ios-content'">

      <div class="input-field col s12">
        <input id="input-penalty-text" type="text" class="validate" ng-model="quote.comments">
        <label for="input-penalty-text">{{quotation.INPUT_COMMENTS_TEXT_BOX}}</label>
      </div>
      <img ng-src="{{image}}" alt="" ng-click="showPopUpImage();">
      <p>{{quotation.UPLOAD_PHOTO_TEXT}}</p>

      <div ng-class="design.buttonSolid" class="button-traslucid btn" ng-click="validateQuotation();">
        {{quotation.CREATE_PDF_BUTTON}}
      </div>

    </div>

  </ion-content>
  <footbar></footbar>
</ion-view>





<style media="screen">
  .android-content {
    height: calc(100vh - 77px)
  }

  .ios-content {
    height: calc(100vh - 97px)
  }


</style>