<ion-view ng-init="init();" id="settings-view">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack();"></button>
    <div class="h1 title">{{settings.SETTINGS_MENU_TITLE}}</div>
  </div>

  <ion-content id="content-id" class="has-header">

    <ion-list>
      <div class="item item-divider">
        Candy Bars
      </div>

      <ion-item ng-click="goToRegister()" ng-if="user.type_user == 'explorer'">
        <span>{{settings.SETTINGS_MENU_SIGN_UP}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

      <ion-item ng-click="chooseLanguage()">
        <span>{{settings.SETTINGS_MENU_CHANGE_LANGUAGE}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

      <ion-item ng-click="openModalChooseCountry()">
        <span>{{settings.SETTINGS_MENU_CHOOSE_COUNTRY}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

    </ion-list>



    <div class="item item-divider">
      Candy Bars
    </div>
    <ion-list>
      <ion-item ng-click="goToTutorials()">
        <span>{{settings.SETTINGS_MENU_TUTORIAL}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>
    </ion-list>


    <div class="item item-divider">
      Candy Bars
    </div>
    <ion-list>

      <ion-item ng-click="FAQ()">
        <span>{{settings.SETTINGS_MENU_FAQ}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>
      <ion-item ng-click="aboutUs()">
        <span>{{settings.SETTINGS_MENU_ABOUT_US}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>
    </ion-list>


    <div class="item item-divider">
      Candy Bars
    </div>

    <ion-list>

      <ion-item ng-click="goToProfile()" ng-if="user.type_user != 'explorer'">
        <span>{{settings.SETTINGS_MENU_PROFILE}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>


      <ion-item ng-click="logOut()">
        <span>{{settings.SETTINGS_MENU_LOG_OUT}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>