<ion-view ng-init="init();" id="settings-view">

  <ion-header-bar align-title="left" class="">

    <h5 ng-click="goBack()">
      <i class="ion-chevron-left"></i>
    </h5>
    <h5>{{settings.SETTINGS_MENU_TITLE}}</h5>

  </ion-header-bar>

  <ion-content id="content-id">


    <ion-list>
      <ion-item ng-click="goToProfile()" ng-if="user.type_user != 'explorer'">
        <span>{{settings.SETTINGS_MENU_PROFILE}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

      <ion-item ng-click="goToRegister()" ng-if="user.type_user == 'explorer'">
        <span>{{settings.SETTINGS_MENU_SIGN_UP}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

      <ion-item ng-click="chooseLanguaje()">
        <span>{{settings.SETTINGS_MENU_CHANGE_LANGUAGE}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

      <ion-item ng-click="openModalChooseCountry()">
        <span>{{settings.SETTINGS_MENU_CHOOSE_COUNTRY}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>

    </ion-list>



    <br />
    <br />
    <ion-list>
      <ion-item ng-click="goToTutorials()">
        <span>{{settings.SETTINGS_MENU_TUTORIAL}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>
    </ion-list>


    <br />
    <br />

    <ion-list>

      <ion-item ng-click="FAQ()">
        <span>{{settings.SETTINGS_MENU_FAQ}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>
      <ion-item ng-click="aboutUs()">
        <span>{{settings.SETTINGS_MENU_ABOUT_US}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>
    </ion-list>


    <br />
    <br />

    <ion-list>
      <ion-item ng-click="logOut()">
        <span>{{settings.SETTINGS_MENU_LOG_OUT}}</span>

        <i class="ion-chevron-right button-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>