<ion-view id="login-view" ng-class="design.header">
  <ion-content id="content">
    <img id="image-logo" src="assets/img/introduction/map.svg" class="background-introduction" />

    <div id="login-container">
      <i class="ion-ios-arrow-back" ng-click="Back();"></i>
      <img src="assets/img/logo.png" class="logo-login">


      <!-- <div class="card-content"> -->


      <span class="login-title" style="color:#61d484">s</span>

      <div class="list list-inset" style="margin: 90px 50px 20px;">
        <label class="item item-input">
          <input type="email" placeholder="{{login.EMAIL}}" ng-model="user.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="{{login.PASSWORD}}" ng-model="user.password">
        </label>
      </div>

      <br />

      <button class="button button-outline button-white" ng-click="initLogin()" style="display: block;margin: 0 auto; width: 40vw;">
        {{login.LOGIN_BUTTON}}
      </button>


      </br>
      </br>

      <p style="text-align:center"> {{login.SIGNUP_TEXT}}</p>
      </br>
      <!-- <a class="waves-effect waves-light btn"  ng-class="design.header"></a> -->
      <button class="button button-outline button-white" ng-click="goToRegister()" style="display: block;margin: 0 auto; width: 40vw;">
        {{login.SIGNUP_BUTTON}}
      </button>
    </div>
        <div class="button-bar" style="position:absolute;bottom:0px;">
          <a class="button" id="facebook-button" ng-click="useFacebook()">Facebook</a>
          <a class="button" id="linkedin-button" ng-click="useLinkedIn()">LinkedIn</a>
        </div>
  </ion-content>
</ion-view>

