<ion-view id="login-view">
  <ion-content id="login-content" ng-class="design.header">

    <div id="login-container">
      <i class="ion-ios-arrow-back" ng-click="Back();"></i>
      <img src="assets/img/logo.png" class="logo-login">

      <div class="row">
        <div class="col s12 m6">
          <div class="card card-login">
            <div class="card-content">


              <span class="card-title login-title">{{login.HEADER}}</span>

              <div class="input-field col s12">
                <input id="email" type="email" class="validate" ng-model="user.email">
                <label for="email">{{login.EMAIL}}</label>
              </div>

              <div class="input-field col s12">
                <input id="password" type="password" class="validate" ng-model="user.password">
                <label for="password">{{login.PASSWORD}}</label>
              </div>

              <br />

              <a class="waves-effect waves-light btn" ng-click="initLogin()" ng-class="design.header">{{login.LOGIN_BUTTON}}</a>

              </br>
              </br>

              <p> {{login.SIGNUP_TEXT}}</p>

              <a class="waves-effect waves-light btn" ng-click="goToRegister()" ng-class="design.header">{{login.SIGNUP_BUTTON}}</a>
              </br>
              </br>
              <a class="waves-effect waves-light btn social-media-buttons" id="facebook-button" ng-click="useFacebook()">{{login.INIT_FACEBOOK}}</a>
              </br>
              </br>
              <a class="waves-effect waves-light btn social-media-buttons" id="linkedin-button" ng-click="useLinkedIn()">{{login.INIT_LINKEDIN}}</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

  <style>
    .social-media-buttons{
      font-size:10px !important;
    }
  </style>