<ion-view ng-init="init();" id="type_user-view">
  <ion-content id="type_user-content" class="slider-one animate-background" has-bouncing="false" >



    <img id="image-logo" src="assets/img/introduction/map.svg"  class="background-introduction" />


    <span class="skip-button right top" ng-click="finish()" ng-class="isIphoneX() ? 'iphone-x' : ''">{{SkipButtonText}}
      <i class="ion-chevron-right"></i>
    </span>


    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
      <ion-slide class="slider-box-tuto">

        <div class="slider-container">

        <h3 class="title">User</h3>
        <h4 class="subtitle">{{tutorials.TUTORIALS_TYPEUSER_USER}}</h4>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="slider-box-tuto">
      <div class="slider-container">
        <h3 class="title">Explorer</h3>
        <h4 class="subtitle">{{tutorials.TUTORIALS_TYPEUSER_EXPLORER}}</h4>
      </div>

      <ion-slide class="slider-box-tuto">
        <div class="slider-container">
          <h3 class="title">Partner</h3>
          <h4 class="subtitle">{{tutorials.TUTORIALS_TYPEUSER_PARTNER}}</h4>
        </div>
      </ion-slide>

    </ion-slide>


  </ion-slide-box>


  <div class="bottom-introduction" ng-class="isIphoneX ? 'iphone-x': ''">

    <div class="">
      <span class="bottom-button right" ng-class="isIphoneX ? 'iphone-x': ''" ng-click="goAhead()">{{RightButtonText}}</span>
      <span class="bottom-button left" ng-class="isIphoneX ? 'iphone-x': ''" ng-click="goBack()" ng-if="shouldShowBackButton">{{LeftButtonText}}</span>

    </div>
  </div>
</ion-content>
</ion-view>
