<ion-view id="dashboard-view">
  <ion-header-bar align-title="center" ng-class="design.header">
    <div class="buttons">
    </div>
    <h1 class="title">{{app.NAME}}</h1>
    <div class="buttons" ng-click="goToSettings();">
      <i class="ion-ios-settings"></i>
    </div>
  </ion-header-bar>

  <ion-content has-bouncing="true">


    <ion-list>
      <ion-item>
        <div class="dashboard-item">
          <img src="assets/img/ef.jpg" class="dashboard-img" alt="" ng-click="goToProjects()" ng-class="isIphoneX() == true ? 'iphone-x' : ''; ">
          <h4 class="main-title" style="background: linear-gradient(to right, #6c6c6c6b , #6c6c6c);">{{dashboard.MOTOR_DASHBOARD_TEXT}}</h4>
        </div>
      </ion-item>

      <ion-item>
        <div class="dashboard-item">
          <img src="assets/img/fp.jpg" class="dashboard-img" alt="" ng-click="goToPenaltyEnergyEfficiency()" ng-class="isIphoneX() == true ? 'iphone-x' : ''; ">
          <h4 class="main-title" style="background: linear-gradient(to right, #6c6c6c6b , #6c6c6c);">{{dashboard.PENALTY_DASHBOARD_TEXT}}</h4>
        </div>
      </ion-item>

      <ion-item>
        <div class="dashboard-item" style="margin-bottom: 50px;">
          <img src="assets/img/products.jpg" class="dashboard-img" alt="" ng-click="goToProducts()" ng-class="isIphoneX() == true ? 'iphone-x' : ''; ">
          <h4 class="main-title" style="background: linear-gradient(to right, #6c6c6c6b , #6c6c6c);">{{dashboard.PENALTY_PRODUCTS_TEXT}}</h4>
        </div>
      </ion-item>

      <!-- <ion-item>
        <div class="dashboard-item" style="margin-bottom: 50px;">
          <img src="assets/img/products.jpg" class="dashboard-img" alt="" ng-click="goToProducts()" ng-class="isIphoneX() == true ? 'iphone-x' : ''; ">
          <h4 class="main-title" style="background: linear-gradient(to right, #6c6c6c6b , #6c6c6c);">{{translations.PENALTY_PRODUCTS_TEXT}}</h4>
        </div>
      </ion-item> -->
    </ion-list>

  </ion-content>

  <foot-bar></foot-bar>
</ion-view>