<ion-view id="dashboard-view">
  <ion-header-bar align-title="center" ng-class="design.header">
    <div class="buttons">
    </div>
    <h1 class="title">{{translations.APP_NAME}}</h1>
    <div class="buttons" ng-click="goToSettings();">
      <i class="ion-ios-settings"></i>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="dashboard-item">
      <img src="assets/img/ef.jpg" class="dashboard-img" alt="" ng-click="goToProjects()">
      <h4 class="main-title" style="background: linear-gradient(to right, #6c6c6c6b , #6c6c6c);">{{translations.MOTOR_DASHBAORD_TEXT}}</h4>
    </div>

    <div class="dashboard-item">
      <img src="assets/img/fp.jpg" class="dashboard-img" alt="" ng-click="goToPenaltyEnergyEffiency()">
      <h4 class="main-title" style="background: linear-gradient(to right, #6c6c6c6b , #6c6c6c);">{{translations.PENALTY_DASHBAORD_TEXT}}</h4>
    </div>

    <div class="dashboard-item">
      <img src="assets/img/products.jpg" class="dashboard-img" alt="" ng-click="goToProducts()">
      <h4 class="main-title" style="background: linear-gradient(to right, #6c6c6c6b , #6c6c6c);">{{translations.PENALTY_PRODUCTS_TEXT}}</h4>
    </div>

  </ion-content>

  <footbar></footbar>
</ion-view>
