<ion-view id="dashboard-view">
  <ion-header-bar align-title="center" ng-class="design.header">
    <div class="buttons">
    </div>
    <h1 class="title">{{app.NAME}}</h1>
    <div class="buttons" ng-click="goToSettings();">
      <i class="ion-ios-settings"></i>
    </div>
  </ion-header-bar>

  <ion-content has-bouncing="true" style="margin-bottom:55px;">

    <div class="list card" ng-click="goToProjects()">
      <div class="item item-body" style="padding:0px;">
        <img class="full-image" src="assets/img/ef.jpg">
        <div style="padding:10px;">
          {{dashboard.MOTOR_DASHBOARD_TEXT}}
          <i class="icon ion-ios-arrow-forward" style="float:right;"></i>
        </div>
      </div>
    </div>

    <div class="list card" ng-click="goToPenaltyEnergyEfficiency()">
      <div class="item item-body" style="padding:0px;">
        <img class="full-image" src="assets/img/fp.jpg">
        <div style="padding:10px;">
          {{dashboard.PENALTY_DASHBOARD_TEXT}}
          <i class="icon ion-ios-arrow-forward" style="float:right;"></i>
        </div>
      </div>

    </div>

    <div class="list card" ng-click="goToProducts()">
      <div class="item item-body" style="padding:0px;">
        <img class="full-image" src="assets/img/products.jpg">
        <div style="padding:10px;">
          {{dashboard.PENALTY_PRODUCTS_TEXT}}

          <i class="icon ion-ios-arrow-forward" style="float:right;"></i>
        </div>
      </div>

    </div>

    <div class="list card" ng-click="goToNews()" >
      <div class="item item-body" style="padding:0px;">
        <img class="full-image" src="assets/img/news.jpeg">
        <div style="padding:10px;">
          {{dashboard.PENALTY_NEWS_TEXT}}
          <i class="icon ion-ios-arrow-forward" style="float:right;"></i>
        </div>
      </div>

    </div>

  </ion-content>

  <foot-bar></foot-bar>
</ion-view>