<div class="world-container" id="world-animate">
    <div class="world">
      <div class="land"></div>
      <div class="land"></div>
      <div class="land"></div>
      <div class="land"></div>
      <div class="land"></div>
      <div class="land"></div>
      <div class="land"></div>
      <div class="land"></div>
      <div class="land"></div>
    </div>
    <div class="clouds">
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
    </div>
  </div>