.world-container{
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    transform: translate(-50%,59%);
    left:50%;
    transition: all 2s ease-in;

    .world{
      width: 150px;
      height: 150px;
      border-radius: 150px;
      background: #7BAECB;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow: hidden;

      .land {
        position: absolute;
        height: 20px;
        background: #99CC99;
        border-radius: 150px;
      }


    }
    .clouds {
      width: 170px;
      height: 170px;
      border-radius: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow: hidden;

      .cloud {
        width: 20px;
        height: 10px;
        background: white;
        border-radius: 20px;
      }
    }

    &.world-container-active{
      background: rgb(255, 255, 255);
    }
  }