<ion-view id="factor-view">
  <ion-header-bar align-title="center" ng-class="design.header">
    <h5 ng-click="back()">
      <i class="ion-chevron-left"></i>
    </h5>
    <h1 class="title">{{factor.FMP_HEADER}}</h1>
  </ion-header-bar>


  <ion-content scroll="true" >
    <div class="container" ng-class="os === 'android' ? 'android-content' : 'ios-content'">

      <h6 style="text-align: center">{{factor.FMP_QUOTATION_TITLE}}</h6>

      <div class="input-field col s12">
        <input id="input-penalty" type="number" min="1000" class="validate" ng-model="factorType.power_factor_1" pattern="[0-9]*">
        <label for="input-penalty">{{factor.FMP_MODAL_QUOTATION_AMOUNT}} 1</label>
      </div>

      <div class="input-field col s12">
        <input id="input-penalty" type="number" min="1000" class="validate" ng-model="factorType.power_factor_2" pattern="[0-9]*">
        <label for="input-penalty">{{factor.FMP_MODAL_QUOTATION_AMOUNT}} 2</label>
      </div>

      <div class="input-field col s12">
        <input id="input-penalty" type="number" min="1000" class="validate" ng-model="factorType.power_factor_3" pattern="[0-9]*">
        <label for="input-penalty">{{factor.FMP_MODAL_QUOTATION_AMOUNT}} 3</label>
      </div>


      <div class="input-field col s12">
        <input id="input-penalty-text" type="text" class="validate" ng-model="factorType.comment" >
        <label for="input-penalty-text">{{factor.INPUT_COMMENTS_TEXTBOX}}</label>
      </div>


      <img ng-src="{{image}}" ng-click="showPopUpImage();" />
      <p>{{factor.UPLOAD_PHOTO_TEXT}}</p>


    <div ng-class="design.button" ng-click="createFactorPenalty();" class="button-traslucid">
      {{factor.FMP_MODAL_QUOTATION_SEND_BUTTON}}
    </div>


  </div>



</ion-content>

<footbar></footbar>
</ion-view>
