@import "../../../css/vars.scss";
#factor-view {
    .bar-header {
        h5 {
            width: 44px;
            top: 0px;
            position: absolute;
            text-align: center;
            i {
                z-index: 999
            }
        }
        &.iphone-x-header {
            height: 64px !important;
            top: 44px !important;
        }
        &.iphone-x {
            top: 44px;
        }
    }
    .container {
        // margin-top: 30px;
        padding: 15px;
        &.android-content {
            // height: calc(100vh - 77px);
            height: calc(100vh + 10px);
        }
        &.ios-content {
            // height:calc(100vh - 97px);
            height: calc(100vh + 30px);
        }
        img {
            width: 35%;
            margin: 0px auto 20px auto;
            display: block;
        }
        p {
            text-align: center;
            color: grey;
        }
    }
    #footbar-fmp-view {
        background-color: $primary-color;
        &.bar-footer {
            height: 50px !important;
        }
        &.iphone-x {
            height: 70px !important;
        }
        &.iphone-x-content {
            bottom: 44px !important;
        }
        .footer-container {
            width: 100%;
            display: flex;
            .buttons {
                margin: 0 auto;
                .tab-not-selected {
                    display: grid;
                    background-color: transparent;
                    color: white;
                    font-size: 15px;
                }
            }
            .dashboard-button {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                .dashboard-button-img {
                    position: relative;
                    width: 65px;
                    bottom: 22px;
                }
            }
        }
    }
}