<ion-view id="factor-view">
  <div class="bar bar-header header-energiaStore">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="back();"></button>
    <div class="h1 title">{{factor.FMP_HEADER}}</div>
  </div>


  <ion-content scroll="true" class="content">
    <div class="container" ng-class="os === 'android' ? 'android-content' : 'ios-content'">

      <h6 style="text-align: center">{{factor.FMP_QUOTATION_TITLE}}</h6>

      <br>

      <p style="text-align:left;" ng-repeat="value in values track by $index">{{value | currency : curr : 0}}
        <br>
      </p>
      <br>


      <div class="input-field col s12">
        <input id="input-penalty" type="number" min="{{minValue}}" class="validate" ng-model="factorType.power_factor_1" pattern="[0-9]*">
        <label for="input-penalty">{{factor.FMP_MODAL_QUOTATION_AMOUNT}} </label>
      </div>

      <div ng-class="design.button" ng-click="addValue();" class="button-traslucid">
        Agregar Valor
      </div>

      <!-- <div class="input-field col s12">
        <input id="input-penalty" type="number" min="1000" class="validate" ng-model="factorType.power_factor_2" pattern="[0-9]*">
        <label for="input-penalty">{{factor.FMP_MODAL_QUOTATION_AMOUNT}} 2</label>
      </div> -->

      <!-- <div class="input-field col s12">
        <input id="input-penalty" type="number" min="1000" class="validate" ng-model="factorType.power_factor_3" pattern="[0-9]*">
        <label for="input-penalty">{{factor.FMP_MODAL_QUOTATION_AMOUNT}} 3</label>
      </div> -->


      <div class="input-field col s12">
        <input id="input-penalty-text" type="text" class="validate" ng-model="factorType.comment">
        <label for="input-penalty-text">{{factor.INPUT_COMMENTS_TEXTBOX}}</label>
      </div>


      <img ng-src="{{image}}" ng-click="showPopUpImage();" />
      <p>{{factor.UPLOAD_PHOTO_TEXT}}</p>


      <div ng-class="design.button" ng-click="createFactorPenalty();" class="button-traslucid">
        {{factor.FMP_MODAL_QUOTATION_SEND_BUTTON}}
      </div>


    </div>
  </ion-content>

  <footbar></footbar>
</ion-view>


<style>
  .content {
    height: 100vh !important;
  }
</style>