<ion-view>
  <ion-header-bar align-title="center" ng-class="design.header">

  <h5 ng-click="back()" style="margin-left:10px;;width: 30px;"><i class="ion-chevron-left" style="z-index:999;" ></i></h5>
    <h1 class="title">{{translations.FMP_HEADER}}</h1>

  </ion-header-bar>
    <ion-content scroll="false">
       <div style="margin-top:30px;padding:15px;" ng-class="os === 'android' ? 'android-content' : 'ios-content'">


      <div class="input-field col s12">
         <input id="input-penalty" type="number" min="1000" class="validate" ng-model="factorType.power_factor">
         <label for="input-penalty">{{translations.FMP_MODAL_QUOTATION_AMOUNT}}</label>
       </div>


       <div class="input-field col s12">
          <input id="input-penalty-text" type="text" class="validate" ng-model="factorType.comment" >
          <label for="input-penalty-text">{{translations.INPUT_COMMENTS_TEXTBOX}}</label>
        </div>


        <img ng-src="{{image}}" style="width: 35%;margin:0px auto 20px auto;display: block;" alt="" ng-click="showPopUpImage();">
        <p style="text-align: center;color: grey;">{{translations.UPLOAD_PHOTO_TEXT}}</p>

        <!-- <div class="row">
          <a class="waves-effect waves-light btn" id="button-gallery"  ng-click="showPopUpImage();" style="margin:auto;">{{translations.ADD_PHOTO_BUTTON_TEXT}}</a>
        </div> -->


<!-- <a class="waves-effect waves-light btn factor-send-button" style="BOTTOM: 20PX;POSITION: absolute;TRANSFORM: TRANSLATE(-50%,0);LEFT: 50%;" </a> -->

<div ng-class="design.button" ng-click="createFactorPenalty();" class="button-traslucid">
  {{translations.FMP_MODAL_QUOTATION_SEND_BUTTON}}
</div>


      </div>



    </ion-content>

    <ion-footer-bar ng-class="design.footer">
      <div class="" style="width: 100%;display: flex;">

        <div class="buttons" style="margin:0 auto;">
          <button class="button tab-not-selected"  ng-click="goToProjects()">
            <i class="fa fa-bookmark"></i>
            {{translations.FOOTER_PROJECT}}
          </button>
        </div>

        <div  class="dashboard-button" ng-click="goToDashboard()">
          <img src="./img/logo.png" class="dashboard-button-img" alt="">
        </div>

        <div class="buttons" style="margin:0 auto;">
          <button class="button tab-not-selected"  ng-click="goToQuotes()">
            <i class="fa fa-money"></i>
            {{translations.FOOTER_QUOTE}}
          </button>
        </div>

      </div>
    </ion-footer-bar>
</ion-view>


<style media="screen">
.android-content{
  height:calc(100vh - 77px)
}

.ios-content{
  height:calc(100vh - 97px)
}

</style>
